{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-3 my-3 border">
        <h1>Add New Tribe</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" name="Create Tribe">
        </form>
    </div>
{% endblock %}