{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container p-3 my-3 border" >
    <h3>Add song</h3>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" name="submit">
    </form>
</div>

{% endblock %}