{% extends 'base.html' %}

{% block content %}
<center>
    <div class="main"> 
        <!-- Create a Form -->
        <form method="POST"> 
            <!-- Security token by Django -->
            {% csrf_token %} 
            Do you want to delete this ? ?
            <input type="submit" value="Yes" /> 
            <a href="/">Cancel </a> 
        </form> 
    </div> 
</center>

{% endblock %}