{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-left: 40px; margin-right: 40px;">
    <div>
        <h3>My Logo</h3>
        {% if picture %}
            <img src="{{picture.url}}" style="width: 150px; height: 100px;">
        {% else %}
            <img src={% static 'MusicTribes/images/default.jpg' %} style="width: 150px; height: 100px;">
        {% endif %}
    </div>

    <div class="container p-3 my-3 border" >
        <h3>Uredi podatke ovdije</h3>
        <form method="post">
            {% csrf_token %}
            {{edit_user_form.as_p}}
            <input type="submit" name="Update password">
        </form>
    </div>

    <div class="container p-3 my-3 border" >
        <h3>Update Logo</h3>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{profile_form.as_p}}
            <input type="submit" name="Update info">
        </form>
    </div>
</div>
{% endblock %}