{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <button type="btn"><a href="{% url 'add_tribe' %}">Add New Tribe</a></button>
       
    <h1>Music Tribes</h1>
    {% if chief_tribes %}
        <h3>I am chieftain in tribes:</h3>
        {% for i in chief_tribes %}
            <a href="{% url 'tribe_detail' i.id %}">
                <img src="{{i.image.url}}" style="max-width: 150px; max-height: 150px; min-width: 100px; min-height: 100px;">
                <br>Tribe name: {{i.name}} <br>
                Tribe genre: {{i.genre}} <br>
                Chieftain username: {{i.chieftain.username}}
                <hr>
            </a>
        
        {% endfor %}
    {% else %}
            <h3>You are not chieftain in a single Tribe</h3>
    {% endif %}


    {% if member_tribes %}
        <h3>I am member in tribes:</h3>
        {% for i in member_tribes %}
            <a href="{% url 'tribe_detail' i.id %}">
                <img src="{{i.image.url}}" style="max-width: 150px; max-height: 150px; min-width: 100px; min-height: 100px;">
                <br>Tribe name: {{i.name}} <br>
                Tribe genre: {{i.genre}} <br>
                Chieftain username: {{i.chieftain.username}}
                <hr>
            </a>
        {% endfor %}
    {% else %}
        <h3>You are not member in a single Tribe</h3>
    {% endif %}
    <hr>
    {% if other_tribes %}
        <h3>Tribes in wich you are not member or chieftain</h3>
        {% for i in other_tribes %}
        <a href="{% url 'tribe_detail' i.id %}">   
            <img src="{{i.image.url}}" style="max-width: 150px; max-height: 150px; min-width: 100px; min-height: 100px;">
            <br>Tribe name: {{i.name}} <br>
            Tribe genre: {{i.genre}} <br>
            Chieftain username: {{i.chieftain.username}}
            <br>
        </a>
        <br>
        {% if user.is_authenticated %}  
            <button type="button">
              <a href=" {% url 'join_tribe' i.id %} ">Join Tribe</a>
            </button>
        {% endif %}
        <hr>
        {% endfor %}
    {% else %}
        <h3>You are member or chieftain in all tribes</h3>
    {% endif %}
    <br>
{% else %}
    {% if other_tribes %}
        {% for i in other_tribes %}
        <a href="{% url 'tribe_detail' i.id %}">
            <img src="{{i.image.url}}" style="max-width: 150px; max-height: 150px; min-width: 100px; min-height: 100px;">
            <br>Tribe name: {{i.name}} <br>
            Tribe genre: {{i.genre}} <br>
            Chieftain username: {{i.chieftain.username}}
            <hr>
        </a>
        {% endfor %}
    {% else %}
        <h3>There are no registered tribes</h3>
    {% endif %}
{% endif %}
{% endblock %}