{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>{{playlist.playlistName}}-{{playlist.playlist_desc}}</h3>
<div>Playlist created:{{playlist.time_created}}</div>

<hr>

<h3>In play list:</h3>

    {% for i in songs %}
        
    <br>{{i.trackArtist}}--{{i.trackTitle}}----<a href="{{i.youtube_url}}" target="_blank">Play</a>--{{i.duration}}--{{i.user_added}}--{{i.time_created}}
        {% if request.user == i.user_added or request.user == tribe.chieftain %}
            <a href="{% url 'delete_song' i.id tribe.chieftain.id %}">Obrišite pjesmu</a>
        {% endif %}
            <br>
            
            <button class="target">Show comments</button>

            <div class="comment">
                <h4>Comments:</h4>
                {% for comm in comments %}
                    {% if comm.song == i %}
                        <p>
                        {% if comm.user.profile.image %}
                            <img src="{{comm.user.profile.image.url}}" style="width: 150px; height: 100px;">
                        {% else %}
                            <img src={% static 'MusicTribes/images/ProfilePci.png' %} style="width: 150px; height: 100px;">
                        {% endif %}
                        {{comm.date_added}}--{{comm.user}}--{{comm.text}}
                    </p>
                    {% endif %}
                {% endfor %}
            </div>


    {% endfor %}

    <script>
    $(".comment").hide();

    $(".target").click(function () {
        $(this).next('.comment').toggle();

        $(this).text($(this).text() == 'Show' ? 'Show comments' : 'Hide comments');

        });

    </script>

{% endblock %}
