{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div style="margin-left: 40px; margin-right: 40px;">
    <div>
        <h3>My Logo</h3>
        {% if picture %}
            <img src="{{picture.url}}" style="width: 150px; height: 100px;">
        {% else %}
            <img src={% static 'MusicApp/Images/ProfilePic.png' %} style="width: 150px; height: 100px;">
        {% endif %}
    </div>


    <div class="container p-3 my-3 border" >
        <h3>Change Password :</h3>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Save changes</button>
          </form>
        <h3>Update Logo</h3>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{profile_form|crispy}}
            <input type="submit" name="Update info">
        </form>
    </div>
</div>
{% endblock %}