{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container p-3 my-3 border">
        <h1>Register</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" name="Create User">
        </form>
    </div>
{% endblock %}