{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div>
            <h1>Tribe name : {{tribe.name}}</h1>
            <h2>Chieftain : {{tribe.chieftain}}</h2>
            <h2>Genre : {{tribe.genre}}</h2>



            <img src="{{tribe.image.url}}" style="max-width: 400px; max-height: 400px; min-width: 100px; min-height: 100px;"> 
            <hr>
            {% if request.user == tribe.chieftain %}
                <a href="{% url 'create_playlist' tribe.id %}"><button class="btn btn-light">Add new playlist</button></a>
                <img src="https://blog.dnevnik.hr/kutaktetevrticarke/slike/originals/sitting-bull-headdress-detail-1.jpg" alt="" style="height:50px; width: 70px;" >
                <img src="{{tribe.chieftain.profile.image.url}}" style="height:30px; width: 50px;">
            {% endif %}
            
            
            {% if request.user in users %}
                <img src="https://image.pngaaa.com/781/365781-middle.png" alt="" style="height:30px; width: 50px;">

                <button type="button" class="btn btn-light">
                    <a href="{% url 'leave_tribe' tribe.id %}"> Leave Tribe</a>
                </button>
                <br>
            {% else %}
                {% if request.user != tribe.chieftain %}
                    {% if user.is_authenticated %}  
                        <button type="button">
                            <a href=" {% url 'join_tribe' tribe.id %} ">Join Tribe</a>
                        </button>
                        <br>
                    {% endif %}
                {% endif %}
            {% endif %}


            {%if users %} <h3>Tribe members</h3>
                {%for i in users%}
                    <li>{{i.username}}
                    {% if request.user == tribe.chieftain or request.user.is_staff %} 
                    <a href="{% url 'kick_member' tribe.id i.id %}">Kick member</a>
                    {% endif %}</li> 
                    <br>

                {%endfor%}
            {%endif%}
            {%if playlist%}
                <h3>Play Listes</h3>
            {% for i in playlist %}
                            <a href="{% url 'playlist_detail' i.id %}">       
                                <div class="col">
                                        Name: {{i.playlistName}} 
                                        <br>
                                        Description: {{i.playlistDescription}}
                                        <br>
                                        Tribe {{i.tribe}}
                                        <br>
                                        Time Created{{i.time_created}}
                                    </div>
                            </a> 
                        {% endfor %}
            {% else %}
            <h3>No play list registers</h3>
            {% endif %}
            
            <div>
                <h3>Tribe chatbox</h3>
                {% for mess in Messages %}
                    {% if mess.mess_from == tribe.chieftain%}
                        <div class="border border-primary mb-2">
                            <h4>Message from Chieftain</h4>
                            {% if mess.mess_from.profile.image %}
                                <img src="{{mess.mess_from.profile.image.url}}" style="width: 150px; height: 100px;">
                            {%else%}
                            <img src="{% static 'MusicTribes/images/default.jpg' %}" style="width: 50px; height: 50px;">
                            {% endif %}
                              {{mess.mess_from.username }} {{mess.time_sent}}  {{mess.mess_content}} 
                            {% if request.user == tribe.chieftain or request.user == mess.mess_from or request.user.is_staff%} 
                                <a href="{% url 'delete_message' mess.id tribe.id %}">Delete message</a> 
                            {% endif %}
                            <hr>
                            <br>{{mess.message_content}}
                        </div>
                    {% else %}
                    <div class="mb-2">
                        {% if mess.mess_from.profile.image %}
                            <img src="{{mess.mess_from.profile.image.url}}" style="width: 150px; height: 100px;">
                        {%else%}
                        <img src={% static 'MusicApp/Images/ProfilePic.png' %} style="width: 50px; height: 50px;">
                        {% endif %}
                        {{mess.mess_from.username }} {{mess.time_sent}}  {{mess.mess_content}} 
                        {% if request.user == tribe.chieftain or request.user == mess.mess_from or request.user.is_staff%} 
                            <a href="{% url 'delete_message' mess.id tribe.id %}">Delete message</a> 
                        {% endif %}
                        <hr>
                        <br>{{mess.message_content}}
                    </div>
                    {% endif %}
                {% endfor %}
                    {% if request.user in users or request.user == tribe.chieftain %}
                        <form action="{% url 'send_message' tribe.id %}" method="POST" >
                            {% csrf_token %}
                            {{message_form|crispy}}
                            <input type="submit" name="Send message">
                        </form>
                    {% endif %}
            </div>

        </div>   
    </div>


    

{% endblock %}

